.form-control{
    margin-left: 8em;

}
.fa-brands{
    padding-right: 2em;
    padding-top: 1em;
}
#cart{
    margin-top: 1em;
}
.flex-column{
    margin-top: 2em;
}
.sidebar{
height: 100%;
position: sticky;
}
.card{
  display: flex;
  float: left;
  margin-left: 30em;
  margin-top: -25em;
padding-right: 16em;
border-radius: 1em;
 
}

.card2{
    display: flex;
    float: left;
    margin-left: 30em;
    margin-top: -10em;
  padding-right: 16em;
  border-radius: 1em;
  border: 1px solid wheat;
  margin-bottom: 10em;
   

}

.card3{
    display: flex;
    float: left;
    margin-left: 30em;
    margin-top: -2em;
  padding-right: 16em;
  border-radius: 1em;
  border: 1px solid wheat;
  margin-bottom: 10em;
}

.card4{
    display: flex;
    float: left;
    margin-left: 30em;
    margin-top: 2em;
  padding-right: 16em;
  border-radius: 1em;
  border: 1px solid wheat;
  margin-bottom: 10em;
}
.btn-group{
    display: flex;
    float: right;
 
   
}
