.form-control{
    margin-left: 8em;

}
.fa-brands{
    padding-right: 2em;
    padding-top: 1em;
}
#cart{
    margin-top: 1em;
}
.flex-column{
    margin-top: 2em;
}

.card{
  display: flex;
  float: left;
  margin-left: 30em;
  margin-top: -25em;
padding-right: 16em;
border-radius: 1em;
 
}
.btn-group{
    display: flex;
    float: right;
 
   
}
