*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1{
    font-weight: 900;
}

.img{
    height: 2em;
    width: 8em;
    margin-left: 2em;
    margin-top: 2em;
}

.date{
    display: flex;
    float: right;
 
    margin-top: 2em;
    margin-right: 2em;
}

.heading{
   
    justify-content: center;
    align-items: center;
}

.billed{
    margin-left: 2em;
    margin-top: 8em;
}

.from{
    margin-right: 2em;
    margin-top: -9em;
}
.bold{
    font-weight: bold;
    font-size: larger;
}
.tableTitles{
    font-size:xx-large;
    font-weight: bolder;
}
td{
  border: 2px solid gray;
  border-bottom: none;
  
    
}

p{
 font-weight: lighter;
}

.card{
    float: right;
    padding: 2em ;
    margin-right: 1em;
    background-color: rgb(169, 238, 255);
    font-weight: bolder;
    font-size: large;
   

}


.lastNote {
    font-size: large;
    margin-top: 20em;
    margin-left: 20em;
    font-weight: bolder;


}
.lastcard{
    padding: 1em 0 1em 2em
}

.parent{
    font-size: large;
    font-weight: bolder;
}
.child{
   padding-top: 0;
}


