*{
    font-family: 'Secular One', sans-serif;
}
  

.firsttag{
    font-size: 80px;
    margin-left: 2em;
   
    
}
.secondtag{
    align-items: center;
    justify-content: center;
    
    
}

.img{
    height: 2em;
    width: 8em;
    margin-left: 2em;
    margin-top: 2em;
}

.date{
    display: flex;
    float: right;
 
    margin-top: 2em;
    margin-right: 2em;
}

.heading{
   
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
   border: #d0e8f1 2px;
}

.billed{
    margin-left: 8em;
    margin-top: 8em;
}

.from{
    margin-right: 8em;
    margin-top: -9em;
   
}
.bold{
    font-weight: bold;
    font-size: larger;
}
.table{
    width: 88%;
    margin-left: 5em;
   
}
.tableTitles{
    font-size:xx-large;
    font-weight: bolder;
    background-color: #d0e8f1;
}
td{
  border: 2px solid gray;
  border-bottom: none;
  
    
}


p{
 font-weight:lighter
}


.card{
    float: right;
    padding: 2em ;
    margin-right: 2em;
   background-color:  #e3f0f6;
    font-weight: bolder;
    font-size: large;
   

}


.lastNote {
    font-size: large;
    margin-top: 20em;
    margin-left: 2em;
    font-weight: bolder;


}
.lastcard{
    padding: 1em 0 1em 2em;
    background-color: #e9e8e9;
    
}

.parent{
    font-size: large;
    font-weight: bolder;
}
.child{
   padding-top: 0;
}


